@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700;800;900&family=Rajdhani:wght@700&display=swap');

* {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}

body {
    overflow-x: hidden;
}

h1 {
    font-weight: 900;
    font-size: 2rem;
}

h2 {
    font-weight: 800;
    font-size: 1.6rem;
}

h3 {
    font-weight: 700;
    font-size: 1.4rem;
}

h4 {
    font-weight: 600;
    font-size: 1.2rem;
}

p {
    font-weight: 600;
    font-size: 1rem;
}

a {
    color: rgb(1, 117, 224);
    text-decoration: none;
    font-weight: 600;
    font-size: 1rem;
}

a:hover {
    transition: 0.3s;
    color: red
}

nav {
    display: block;
    padding: 5px;
    height: 50px;
    border-bottom: 3px solid #36393F;
}


.left {
    float: left;
}

.left > a {
    margin: 25px;
}

.right > p {
    margin: 25px;
    font-weight: 600;
    font-size: 1rem;
}

.left > a:hover {
    border-bottom: 3px solid #36393F;
    transition: 0.3s color;
    color: red;
}

.right {
    float: right
}

.bottom {
    float: none
}

.right > p:hover {
    color: brown;
}

.main-heading {
    color: blue;
    /* width: min-content; */
    height: min-content;
    margin-left: 50px;
}

.main-heading:hover > span {
    transition: 0.5s color;
    color: rgb(87, 27, 27);
}

.main-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.card {
  box-shadow: 0 6px 10px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: max-content;
  padding: 10px;
  margin-top: 25px;
  margin-left: 50px;
  margin-right: 50px;
}

.card > h2:hover {
    transition: 0.3s;
    color: red;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgb(87, 27, 27);
  animation: shake 0.3s;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -1px) rotate(-1deg); }
    20% { transform: translate(-2px, 0px) rotate(1deg); }
    30% { transform: translate(2px, 1px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    70% { transform: translate(2px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 1px) rotate(0deg); }
    100% { transform: translate(1px, -1px) rotate(-1deg); }
  }