/* main styles */

body {
    margin: 0px;
    --transition_time: 0.3s;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
}

/* nav styles */

.nav-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 38px;
}

.left-side {
    display: flex;
}

.nav-wrapper > .left-side > div {
    margin-right: 20px;
    font-size: 0.98em;
    text-transform: uppercase;
}

.nav-link-wrapper {
    height: 22px;
    border-bottom: 1px;
    transition: border-bottom var(--transition_time);
}

.nav-link-wrapper a {
    color: #191970;
    text-decoration: none;
    transition: colour var(--transition_time);
}

.nav-link-wrapper:hover {
    border-bottom: 1px solid black;
    transition: colour var(--transition_time);
}

.nav-link-wrapper a:hover {
    transition: var(--transition_time);
    color: #f80000
}

.brand > div {
    transition: var(--transition_time);
    color: #191970;
}

.brand > div:hover {
    transition: var(--transition_time);
    color: #f80000;
}

/* about.html styles */

  /* about the team */

  .our-team-wrapper a {
      text-decoration: none;
      transition: var(--transition_time);
      color: #191970;
  }

  .our-team-wrapper a:hover {
      transition: var(--transition_time);
      color: #f80000;
  }

 /* changing colors of names */

 /* Kingerious */

.kingerious {
    transition: var(--transition_time);
    color: #191970;
}

.kingerious:hover {
    transition: var(--transition_time);
    color: #f80000;
}

/* daisy */

.daisy {
    transition: var(--transition_time);
    color: #191970;
}

.daisy:hover {
    transition: var(--transition_time);
    color: #f80000;
}

/* mac */

.mac {
    transition: var(--transition_time);
    color: #191970;
}

.mac:hover {
    transition: var(--transition_time);
    color: #f80000;
}

.monki {
    transition: var(--transition_time);
    color: #191970;
}

.monki:hover {
    transition: var(--transition_time);
    color: #f80000;
}

.niceygy {
    transition: var(--transition_time);
    color: #191970;
}

.niceygy:hover {
    transition: var(--transition_time);
    color: #f80000;
}

.our-team-wrapper {
    position: inherit;
}

/* texts in index.html and about.html */

  .explain-text-1 {
      padding: 20px;
      color: rgb(49, 49, 49);
  }

  .explain-text-1:hover{
      color: black;
  }


  .hi-text {
      padding: 20px;
  }

  .our-team-members {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      padding: 0px;
  }

  .our-team-text {
      padding: 50px;
  }

  /* cards */

  .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
    height: fit-content;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .container {
    padding: 2px 16px;
  }

  .follow-link-wrapper a {
      text-decoration: none;
      transition: var(--transition_time);
      color: #191970;
  }

  .follow-link-wrapper a:hover {
      transition: var(--transition_time);
    color: #f80000;
  }

  .explain-text-1 {
    color: #191970;
  }

  .explain-text-1:hover {
    transition: var(--transition_time);
    color: #f80000;
  }

  .about-our-discord-text a{
    text-decoration: none;
    transition: var(--transition_time);
    color: #191970;
  }

  .about-our-discord-text a:hover {
    transition: var(--transition_time);
    color: #f80000;
  }

.cards-wrapper {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.twitter-handle {
    padding: 20px;
}



/* ref code 

.portfolio-items-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.portfolio-item-wrapper {
    position: relative;
}

.portfollio-img-background {
    height: 350px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.img-text-wrapper {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
    
}

.logo-wrapper img {
    width: 50%;
    margin-bottom: 20px;
}

.img-text-wrapper .subtitle {
    transition: 1s;
    font-weight: 600;
    color: transparent;
}

.img-text-wrapper:hover .subtitle {
    font-weight: 600;
    color: lightseagreen;
}

.img-darken {
    transition: 1s;
    filter: brightness(10%);
}
                          */


