@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700;800;900&family=Rajdhani:wght@700&display=swap");

* {
  font-family: "Inter", sans-serif;
  font-weight: 500;
}

body {
  overflow-x: hidden;
}

h1 {
  font-weight: 900;
  font-size: 2rem;
}

h2 {
  font-weight: 800;
  font-size: 1.6rem;
}

h3 {
  font-weight: 700;
  font-size: 1.4rem;
}

h4 {
  font-weight: 600;
  font-size: 1.2rem;
}

p {
  font-weight: 600;
  font-size: 1rem;
}

a {
  transition: 0.5s color;
  color: #8c52ff;
  text-decoration: none;
  font-weight: 600;
  font-size: 1rem;
}

a:hover {
  transition: 0.3s;
  color: #ffde59;
}

nav {
  display: block;
  padding: 5px;
  height: 50px;
  border-bottom: 3px solid #36393f;
}
